@import './base.css';

/* NOTA

  Si la página se ve en dos secciones o diferentes secciones, aquí apareceran unos estilos que tendrás que borrar o modificar para que se vea bien.
  Si la página se ve bien en dos secciones, no necesitarás hacer nada.


  Keep calm! 

*/ 
/* HUBOT */
@import url('https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Jersey+15&family=League+Spartan:wght@100..900&family=Lexend+Zetta:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* MONTSERRAT */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Lexend+Zetta:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&family=Quicksand:wght@300..700&display=swap');


.card {
  background: #292828;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 25px;
  cursor: pointer;
  z-index: 1;
}

.card h2 {
  z-index: 2; 
  color: white;
  font-size: large;
  position: relative; 
}

.card::before {
  content: '';
  position: absolute;
  width: 50px;
  background-image: linear-gradient(180deg, rgb(228, 174, 27), rgb(216, 203, 143));
  height: 130%;
  animation: rotBGimg 6s linear infinite;
  transition: all 0.4s linear;
  z-index: 0; 
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: rgb(44, 44, 43);
  inset: 5px;
  border-radius: 15px;
  z-index: 0; 
}

